<div class="rivalry-card">
   <!-- Topo com fotos, nomes e número de vitórias -->
   <div class="rivalry-header">
      <!-- Lutador 1 -->
      <div class="rivalry-fighter">
         {% if rivalry.r_image %}
         <img src="{{ rivalry.r_image }}" alt="{{ rivalry.fights[0].r_name }}" class="rivalry-fighter-image">
         {% endif %}
         <p class="rivalry-fighter-name">{{ rivalry.fights[0].r_name }}</p>
         <p class="rivalry-fighter-wins">
            {% if  rivalry.r_wins > rivalry.b_wins %} 🏆 {% endif %} {{ rivalry.r_wins }}
         </p>
      </div>
      <!-- VS -->
      <div class="rivalry-vs">VS</div>
      <!-- Lutador 2 -->
      <div class="rivalry-fighter">
         {% if rivalry.b_image %}
         <img src="{{ rivalry.b_image }}" alt="{{ rivalry.fights[0].b_name }}" class="rivalry-fighter-image">
         {% endif %}
         <p class="rivalry-fighter-name">{{ rivalry.fights[0].b_name }}</p>
         <p class="rivalry-fighter-wins">
            {% if  rivalry.b_wins > rivalry.r_wins %} 🏆 {% endif %} {{ rivalry.b_wins }}
         </p>
      </div>
   </div>
   <!-- Sub-seção com informações detalhadas de cada luta -->
   <div class="rivalry-fights">
      {% for fight in rivalry.fights %}
      {% include "rivalry_card_fight_item.html" with context %}
      {% endfor %}
   </div>
</div>